services:
  # --------------------
  # SERVER (DEV)
  # --------------------
  server:
    build: ./server
    image: lockbox-server
    restart: unless-stopped
    user: "1000:1000"
    ports:
      - "3000:3000"
    env_file:
      - ./server/.env
    depends_on:
      - db
      - cache
    volumes:
      - ./server:/server:Z
    command: npm run dev
    profiles: ["dev"]

  # --------------------
  # SERVER TEST (CI - single run)
  # --------------------
  server_test:
    build: ./server
    image: lockbox-server
    user: "1000:1000"
    env_file:
      - ./server/.env.test
    depends_on:
      - db_test
      - cache_test
    volumes:
      - ./server:/server:Z
    command: npm test -- --ci --runInBand
    profiles: ["test"]

  # --------------------
  # SERVER TEST (LOCAL WATCH)
  # --------------------
  server_test_watch:
    build: ./server
    image: lockbox-server
    user: "1000:1000"
    env_file:
      - ./server/.env.test
    depends_on:
      - db_test
      - cache_test
    volumes:
      - ./server:/server:Z
    command: npm run test:watchAll
    profiles: ["test-watch"]

  # --------------------
  # DATABASE (TEST)
  # --------------------
  db_test:
    image: postgres:17.5-alpine3.21
    environment:
      POSTGRES_USER: dbuser
      POSTGRES_PASSWORD: dbpass
      POSTGRES_DB: lockbox_test
    tmpfs:
      - /var/lib/postgresql/data
    profiles: ["test", "test-watch"]

  # --------------------
  # CACHE (TEST)
  # --------------------
  cache_test:
    image: redis:8.0-alpine3.21
    command: redis-server --save 20 1 --loglevel warning --requirepass cachepass
    tmpfs:
      - /data
    profiles: ["test", "test-watch"]